# Store Sales Kaggle

In [1]:
import pandas as pd

In [3]:
train_data = pd.read_csv('train.csv')
oil_data = pd.read_csv('oil.csv')
stores_data = pd.read_csv('stores.csv')
holidays_events_data = pd.read_csv('holidays_events.csv')
transactions_data = pd.read_csv('transactions.csv')

In [4]:
train_data.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [5]:
oil_data.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [6]:
stores_data.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [7]:
holidays_events_data.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [8]:
transactions_data.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [9]:
test_data = pd.read_csv('test.csv')

## Data analysis

* There are different familys of goods, different store and whether it is on promotion or not
* Stores has location and type, there is also another cluster which is a grouping of similar stores
* Daily Oil price would impact sales performance and there are missing data
* Holidays and events can be transfered
* Wages are paid every 2 weeks and this would impact sales
* earth quake on April 16th, 2016
* certain type of stores might only have certain family of goods, hence the 0 values

In [71]:
date_range = train_data['date']
family_of_goods = train_data['family']
store_number = train_data['store_nbr']

In [72]:
date_range = date_range.sort_values().drop_duplicates().reset_index(drop=True)
family_of_goods = family_of_goods.sort_values().drop_duplicates().reset_index(drop=True)
store_number = store_number.sort_values().drop_duplicates().reset_index(drop=True)

In [73]:
date_range

0       2013-01-01
1       2013-01-02
2       2013-01-03
3       2013-01-04
4       2013-01-05
           ...
1679    2017-08-11
1680    2017-08-12
1681    2017-08-13
1682    2017-08-14
1683    2017-08-15
Name: date, Length: 1684, dtype: object

In [74]:
family_of_goods

0                     AUTOMOTIVE
1                      BABY CARE
2                         BEAUTY
3                      BEVERAGES
4                          BOOKS
5                   BREAD/BAKERY
6                    CELEBRATION
7                       CLEANING
8                          DAIRY
9                           DELI
10                          EGGS
11                  FROZEN FOODS
12                     GROCERY I
13                    GROCERY II
14                      HARDWARE
15            HOME AND KITCHEN I
16           HOME AND KITCHEN II
17               HOME APPLIANCES
18                     HOME CARE
19                    LADIESWEAR
20               LAWN AND GARDEN
21                      LINGERIE
22              LIQUOR,WINE,BEER
23                     MAGAZINES
24                         MEATS
25                 PERSONAL CARE
26                  PET SUPPLIES
27       PLAYERS AND ELECTRONICS
28                       POULTRY
29                PREPARED FOODS
30                       PRODUCE
31    SCHOOL AND OFFICE SUPPLIES
32                       SEAFOOD
Name: family, dtype: object

In [75]:
store_number

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
Name: store_nbr, dtype: int64

In [76]:
# join the train_data with stores data on store number
train_store_data = pd.merge(train_data, stores_data, on='store_nbr')
train_store_data.head()

,id,date,store_nbr,family,sales,onpromotion,city,state,type,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13
1,1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13
2,2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13
3,3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13
4,4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13

In [77]:
pd.DataFrame(date_range)

            date
0     2013-01-01
1     2013-01-02
2     2013-01-03
3     2013-01-04
4     2013-01-05
...          ...
1679  2017-08-11
1680  2017-08-12
1681  2017-08-13
1682  2017-08-14
1683  2017-08-15

[1684 rows x 1 columns]

In [83]:
test = pd.merge(pd.DataFrame(date_range), holidays_events_data,how='left', on='date')

In [84]:
test.shape

(1714, 6)

In [85]:
test['date'].sort_values()

0       2013-01-01
1       2013-01-02
2       2013-01-03
3       2013-01-04
4       2013-01-05
           ...
1709    2017-08-11
1710    2017-08-12
1711    2017-08-13
1712    2017-08-14
1713    2017-08-15
Name: date, Length: 1714, dtype: object

In [86]:
test

,date,type,locale,locale_name,description,transferred
0,2013-01-01,Holiday,National,Ecuador,Primer dia del ano,False
1,2013-01-02,NaN,NaN,NaN,NaN,NaN
2,2013-01-03,NaN,NaN,NaN,NaN,NaN
3,2013-01-04,NaN,NaN,NaN,NaN,NaN
4,2013-01-05,Work Day,National,Ecuador,Recupero puente Navidad,False
...,...,...,...,...,...,...
1709,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
1710,2017-08-12,NaN,NaN,NaN,NaN,NaN
1711,2017-08-13,NaN,NaN,NaN,NaN,NaN
1712,2017-08-14,NaN,NaN,NaN,NaN,NaN
1713,2017-08-15,Holiday,Local,Riobamba,Fundacion de Riobamba,False

In [89]:
test.loc[test['date'].duplicated()]

,date,type,locale,locale_name,description,transferred
132,2013-05-12,Event,National,Ecuador,Dia de la Madre,False
177,2013-06-25,Holiday,Local,Machala,Fundacion de Machala,False
178,2013-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
187,2013-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False
360,2013-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False
545,2014-06-25,Holiday,Local,Machala,Fundacion de Machala,False
546,2014-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
547,2014-06-25,Event,National,Ecuador,Mundial de futbol Brasil: Ecuador-Francia,False
556,2014-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False
729,2014-12-22,Additional,National,Ecuador,Navidad-3,False
733,2014-12-26,Additional,National,Ecuador,Navidad+1,False
915,2015-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
916,2015-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
925,2015-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False
1098,2015-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False
1219,2016-04-21,Event,National,Ecuador,Terremoto Manabi+5,False
1230,2016-05-01,Event,National,Ecuador,Terremoto Manabi+15,False
1237,2016-05-07,Event,National,Ecuador,Terremoto Manabi+21,False
1239,2016-05-08,Event,National,Ecuador,Dia de la Madre,False
1244,2016-05-12,Event,National,Ecuador,Terremoto Manabi+26,False
1289,2016-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
1290,2016-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
1299,2016-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False
1321,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False
1433,2016-11-12,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False
1474,2016-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False
1587,2017-04-14,Holiday,National,Ecuador,Viernes Santo,False
1660,2017-06-25,Holiday,Local,Latacunga,Cantonizacion de Latacunga,False
1661,2017-06-25,Holiday,Local,Machala,Fundacion de Machala,False
1670,2017-07-03,Holiday,Local,Santo Domingo,Fundacion de Santo Domingo,False